{% extends 'idoneit/base.html' %}
{% load i18n staticfiles %}

{% block title %}
    {{ object.name }}
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'admin/css/changelists.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
        <form id="action-form" method="post">{% csrf_token %}
            <fieldset class="module aligned" style="margin-top: 25px">
                <h2>{% trans 'User info' %}</h2>
                <div class="form field-description">
                        <label for="id_username">{% trans 'Username:' %}</label>
                        <div id="id_username" class="readonly">{{ object.username }}</div>
                        <label for="id_first_name">{% trans 'First name:' %}</label>
                        <div id="id_first_name" class="readonly">{{ object.first_name }}</div>
                        <label for="id_last_name">{% trans 'Last name:' %}</label>
                        <div id="id_last_name" class="readonly">{{ object.last_name }}</div>
                        <label for="id_email">{% trans 'Descriprion:' %}</label>
                        <div id="id_email" class="readonly">{{ object.email }}</div>
                        <label for="id_last_login">{% trans 'Last login:' %}</label>
                        <div id="id_last_login" class="readonly">{{ object.last_login_date|default:_("No activate") }}</div>
                </div>
            </fieldset>
            <div class="submit-row">
                <p class="deletelink-box"><a href="#" class="deletelink icon delete">{% trans 'Delete' %}</a></p>
                <input id="edit-button" type="button" value="{% trans 'Edit' %}" class="icon edit">
            </div>
        </form>
    </div>
{% endblock %}